<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>ia1</string>
		<string>ia2</string>
		<string>ia3</string>
		<string>ia4</string>
		<string>ia5</string>
		<string>ia6</string>
		<string>ia7</string>
		<string>ia8</string>
		<string>ia9</string>
		<string>ia10</string>
		<string>ia11</string>
	</array>
	<array>
		<string>io1</string>
		<string>io3</string>
		<string>io4</string>
		<string>io5</string>
		<string>io6</string>
		<string>io7</string>
		<string>io8</string>
		<string>io9</string>
		<string>io10</string>
		<string>io11</string>
		<string>io12</string>
		<string>io13</string>
		<string>io14</string>
		<string>io15</string>
		<string>io16</string>
	</array>
	<array>
		<string>ib1</string>
		<string>ib2</string>
		<string>ib3</string>
		<string>ib4</string>
		<string>ib5</string>
	</array>
	<array>
		<string>iw3</string>
		<string>iw4</string>
		<string>iw5</string>
		<string>iw6</string>
		<string>iw7</string>
		<string>iw8</string>
		<string>iw9</string>
	</array>
	<array>
		<string>if1</string>
		<string>if2</string>
		<string>if3</string>
		<string>if4</string>
		<string>if5</string>
		<string>if6</string>
		<string>if7</string>
		<string>if8</string>
	</array>
	<array>
		<string>im1</string>
		<string>im2</string>
		<string>im3</string>
		<string>im4</string>
		<string>im5</string>
		<string>im6</string>
	</array>
</array>
</plist>
